body, h1, h2, p, div, pre, ul { margin: 0; padding: 0; }
body {
    background: #fff url(/img/back.png) no-repeat bottom right fixed;
    text-align: center;
}
a:link { color: #04c; }
a:hover { color: #37f; }
code { background: #222; color: #fff; padding: 0 2px; }


#wrapper {
    width: 55%;
    text-align: left;
    margin: 20px auto 0 auto;
}

/* =header */
#header { margin-bottom: 30px; }
#header h1 { font-size: 1.1em; }
#header h1 a { text-decoration: none; color: #444; }
#header h1 span { color: #87c530; }

/* =container */
#container .str { color: #777; }
#container .map { color: #aaa; font-size: 0.5em; }
#container ul { list-style: none; }
#container ul li { text-indent: 10px; margin-bottom: 0.3em; }
#container ul li.first { text-indent: 5px; }
#container ul li span.date { font-size: 0.5em; }
#container ul li a { font-size: 0.85em; }

/* =aboutme */
#aboutme { margin: 20px 0; font-size: 0.8em; color: #444; }
#aboutme .keyword { color: #87c530; }
#aboutme p.indent { text-indent: 10px; }

/* =post */
#post { font-size: 0.9em; width: 90%; margin-bottom: 30px; }
#post .meta { color: #aaa; font-weight: bold; font-size: 0.9em; margin-bottom: 20px; }
#post h1 { margin-bottom: 20px; }
#post h2, #post h3, #post h4 { color: #444; margin: 20px 0; }
#post h2 { color: #87c530; }
#post h3 { background: transparent url(/img/h3.png) no-repeat left 50%; padding-left: 12px; }
#post p { margin-bottom: 1em; }
#post ul { list-style: disc; margin-left: 1.5em; }
#post ul li { text-indent: 0; }
#post blockquote { font-style: italic; font-size: 130%; }
#tweet { margin-bottom: 20px; }

/* =bottom_menu */
ul#bottom_menu { text-align: right; list-style: none; margin: 15px 0; }
ul#bottom_menu li { display: inline; margin-right: 1.5em; }

/* =footer */
#footer { margin: 40px 0 20px 0; padding-top: 10px; font-size: 0.7em; }
#footer ul { list-style: none; }
#footer ul li { display: inline; margin-right: 20px; }
