/* COMMON */
body, h1, h2, h3, h4, p, ul, li { margin: 0; padding: 0; }
body, p { font-family: 'Inconsolata', sans-serif; }

body { background: transparent url(/img/back.png) no-repeat right bottom fixed; }
a:link { color: #04c; }
a:hover { color: #37f; }
span.comment { color: #aaa; }
span.map { color: #bbb; padding: 0 3px; }
span.keyword { color: #719871; }

/* WRAPPER */
.wrapper {
    width: 60%;
    margin: 0 auto; }

/* HEADER */
header { margin-bottom: 1.5em; }
header h1 { margin: 0.5em 0; }
header h1 a { color: #555; text-decoration: none;
              font-weight: normal;
              letter-spacing: 1px; font-size: 30px; }
header h1 a:hover { opacity: 0.5; }
header h1 a span.string { color: #d657c1; }

/* POSTS */
#posts ul { list-style: none; }
#posts ul li { line-height: 1.5em; font-size: 15px; text-indent: 8px; }
#posts ul li.first { text-indent: 0; }


/* POST PAGE */
.page-header { margin: 1em 0 1.5em 0; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.page-header h1 { color: #444; font-weight: normal; font-size: 25px; float: left; }
.page-header h1 span { color: #58b271; font-size: 35px; }
.page-header p { float: left; margin: 20px 0 0 30px; }

.post h2 { margin: 1em 0; }
.post h2 { color: #444; }
.post h3 { color: #444; }
.post h2 span { color: #be3aa8; font-size: 30px; }
.post h3 span { font-size: 25px; }

.post hr {
    border: 0;
    border-bottom: 1px dashed #ddd;
    background: #eee;
}

.post ul { margin: 0.5em 0 1em 2em; }
.post ul li { line-height: 1.5em; color: #58b271; }
.post ul li span { color: #000; }

.post blockquote { color: #666; font-size: 20px; font-style: italic; }
.post blockquote p:before { content: '> '; }

.post code {
    border-radius: 3px;
    background: #222;
    padding: 2px 4px;
}

.post pre.prettyprint {
    margin: 10px; padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #222;
}

.post p.paragraph { margin-bottom: 1.2em; }
.post p.add { color: #b61b1b; font-weight: bold; }

#tweet_button { margin-bottom: 1em; }


ul#toc { position: absolute; margin-top: 10%; right: 5%; list-style: none; width: 15%; }
ul#toc li { font-size: 0.9em; margin-bottom: 0.5em; }


/* ARCHIVES */
.archives h2 { margin: 1em 0 0 0; color: #444; }
.archives h2 span { color: #58b271; font-size: 30px; }

.archives ul { list-style: none; }
.archives ul li { line-height: 1.5em; }
.archives ul li span { padding: 0 1em 0 0.3em; }

/* ABOUT ME */
#aboutme { margin-top: 1.5em; }
#aboutme p { font-size: 15px; }
#aboutme p.indent { text-indent: 15px; }
#aboutme .bear { background: transparent url(/img/bear.png) no-repeat right 50%; padding-right: 17px; }

/* CODERWALL */
#coderwall { margin-top: 1.5em; }

/* FOOTER */
footer { margin: 1.5em 0 1em; text-align: right; }
footer p.copy { margin-bottom: 0.5em; }
footer span { font-size: 14px; color: #666; }

