body, h1, h2, p, div, pre, ul { margin: 0; padding: 0; }
body {
    background: #fff url(/img/back.png) no-repeat bottom right fixed;
    text-align: center;
}
a:link { color: #04c; }
a:hover { color: #37f; }
code { background: #222; color: #fff; padding: 0 2px; }


#wrapper {
    width: 60%;
    text-align: left;
    margin: 20px auto 0 auto;
}

/* =header */
#header { margin-bottom: 30px; }
#header h1 { font-size: 1.1em; }
#header h1 a { text-decoration: none; color: #444; }
#header h1 span { color: #87c530; }

/* =container */
/*
#container > h2 { font-size: 0.9em; color: #e8ba1f; color: #999; }
*/
#container .str { color: #777; }
#container .vec, #container .map { color: #aaa; font-size: 0.5em; }
#container ul { list-style: none; }
#container ul li { text-indent: 10px; margin-bottom: 0.3em; }
#container ul li span.date { font-size: 0.5em; }
#container ul li a { font-size: 0.85em; }

/* =post */
#post { width: 90%; margin-bottom: 30px; }
#post .meta { color: #aaa; margin-bottom: 20px; }
#post h1 { margin-bottom: 20px; }
#post h2, #post h3, #post h4 { color: #444; margin: 20px 0; }
#post h2 { color: #87c530; }
#post p { margin-bottom: 1em; }
#post ul {
    list-style: disc;
    margin-left: 1em;
}
#tweet { margin-bottom: 20px; }

/* =footer */
#footer { border-top: 5px solid #efefef; margin: 30px 0 20px 0; padding-top: 10px; font-size: 0.7em; }
#footer ul { list-style: none; }
#footer ul li { display: inline; margin-right: 20px; }
