/* =hidden */
#posts span.map, #posts span.double-quote, a.github_ribbon, ul#toc
{ display: none; }

/* =header */
header p { font-size: 15px; }

/* =container */
.container {
    margin: 0 10px;
    width: 100%;
    font-size: 90%;
}

/* =posts */
#posts ul li {
    font-size:   10px;
    text-indent: 0;
    line-height: 2em;
}

#aboutme p { font-size: 10px; }

/* tag style */
.tag ul { float-left: 10px; }
.tag ul li a { padding: 2px 5px; }

/* code highlight */
pre.prettyprint { overflow: scroll; }
.post code { padding: 0 1px; }


