---
layout: default
title: (code "liquidz.uo") - Archive
---

{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}

  {% if forloop.first %}
    <h2 class="archive">{{this_year}}</h2>
    <ul class="archive">
  {% endif %}

  <li><span>{{ post.date | date: "%m-%e" }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>

  {% if forloop.last %}
    </ul>
  {% else %}
    {% if this_year != next_year %}
      </ul>
      <h2 class="archive">{{next_year}}</h2>
      <ul class="archive">
    {% endif %}
  {% endif %}
{% endfor %}

