<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link href="../css/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../css/syntax.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1><a href="/"><span class="paren">(</span>code <span class="str">"liquidz.uo"</span><span class="paren">)</span></a></h1>
        </div>

        <div id="container">
            {{ content }}



<div class='highlight'><pre><code class='clj'><span class='p'>(</span><span class='k'>defmacro </span><span class='nv'>case</span> <span class='p'>[</span><span class='nv'>base-value</span> <span class='nv'>&amp;amp</span><span class='c1'>; patterns]</span> 
 <span class='p'>(</span><span class='nf'>cons</span> 
  <span class='ss'>&#39;cond</span> 
  <span class='p'>(</span><span class='nf'>fold</span> <span class='p'>(</span><span class='k'>fn </span><span class='p'>[[</span><span class='nv'>val</span> <span class='nv'>&amp;amp</span><span class='c1'>; more] res]</span> 
         <span class='p'>(</span><span class='nb'>concat </span><span class='nv'>res</span> <span class='p'>(</span><span class='nb'>list </span><span class='p'>(</span><span class='k'>if </span><span class='p'>(</span><span class='nb'>= </span><span class='nv'>val</span> <span class='nv'>:else</span><span class='p'>)</span> <span class='nv'>val</span> <span class='o'>`</span><span class='p'>(</span><span class='nb'>= </span><span class='nv'>~base-value</span> <span class='nv'>~val</span><span class='p'>))</span> <span class='p'>(</span><span class='nb'>first </span><span class='nv'>more</span><span class='p'>))))</span> <span class='p'>(</span> 
    <span class='p'>(</span><span class='nf'>partition</span> <span class='mi'>2</span> <span class='nv'>patterns</span><span class='p'>)))))</span> 
</code></pre> 
</div> 



        </div>

        <div id="footer">
            <ul>
                <li>uochan</li>
                <li><a href="http://twitter.com/uochan">Twitter</a></li>
                <li><a href="http://www.facebook.com/masashi.iizuka">Facebook</a></li>
                <li><a href="https://github.com/liquidz">GitHub</a></li>
                <li><a href="http://coderwall.com/liquidz">coderwall</a></li>
                <li><a href="http://clojars.org/users/liquidz">Clojars</a></li>
                <li><a href="https://market.android.com/developer?pub=uochan">Android Market</a></li>
            </ul>
        </div>

    </div>
</body>
</html>

