<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/atom.xml" rel="alternate" title="(code liquidz.uo)" type="application/atom+xml" />
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1><a href="/">(code <span>"liquidz.uo"</span>)</a></h1>
        </div>

        <div id="container">
            {{ content }}
        </div>

        <div id="footer">
            <ul>
                <li>uochan</li>
                <li><a href="http://twitter.com/uochan">Twitter</a></li>
                <li><a href="http://www.facebook.com/masashi.iizuka">Facebook</a></li>
                <li><a href="https://github.com/liquidz">GitHub</a></li>
                <li><a href="http://coderwall.com/liquidz">coderwall</a></li>
                <li><a href="http://clojars.org/users/liquidz">Clojars</a></li>
                <li><a href="https://market.android.com/developer?pub=uochan">Android Market</a></li>
            </ul>
        </div>

    </div>
</body>
</html>

